#know_more {
    appearance: button;
    background-color: rgb(54, 93, 54);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: .8px;
    line-height: 20px;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
}

#know_more a {
    color: #FFFFFF;
}

#know_more:after {
    background-clip: padding-box;
    background-color: var(--elaGreen);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#know_more:hover:not(:disabled) {
    filter: brightness(1.1);
}

#know_more:disabled {
    cursor: auto;
}

#know_more:active:after {
    border-width: 0 0 0px;
}

#know_more:active {
    padding-bottom: 10px;
}