.h2{
    text-align: center;
    font-size: 25pt;
    margin-top: 50px;
    margin-bottom: 25px;
}

.turn_around{
    display: inline-block;
    animation: rotate 2s linear forwards; /* Duración de la animación */
}

@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}

.div {
    border-bottom: .5px solid rgb(198, 198, 198);
    font-size: 15pt;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
    width: 80%;
}

#join_intro_container > p {
    text-align: center;
}

#join_intro_container > img {
    filter: drop-shadow(-10px 10px 8px #939393) drop-shadow(10px 10px 8px #939393);
    margin-bottom: 50px;
}

@media (width <= 834px){
	#join_intro_container > img {
		width: 90%;
	}
}

@media (834px < width <= 1024px){
	#join_intro_container > img {
		width: 90%;
	}
}


#help_us p, #register p {
    text-align: justify;
}

#donate_buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 0;
    width: 100%;
}

.donateButtons {
    border: 1px solid;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-around;
    object-fit: cover;

    height: 200px;
    position: relative;
    text-align: center;
    transition: all 0.7s;
    width: 400px;
}

.donateButtons span {
    opacity: 0;
    margin-bottom: 100px;
    font-size: 30px;
    color: white;
    filter: drop-shadow(5px 5px 5px #000000);
    transition: all 0.7s;
}

.donateButtons:hover {
    transform: scale(1.1);
}

.donateButtons:hover .donateButtons span {
    opacity: 1;
}

@media (width <= 834px){
	#donate_buttons_container {
        flex-direction: column;
	}

    .donateButtons{
        width: 350px;
    }
}
