#grid_container, #grid_container_skeleton {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 80%;
    margin: 100px auto;
}

#grid_container_skeleton {
    min-height: 600px;
}

.large {
    width: 700px;
}

.medium {
    grid-column: span 2;
}

.small {
    width: 250px;
}

#grid_container_skeleton > div {
    width: 250px;
}

@media (max-width: 656px) {
    #grid_container {
        align-items: center;
        justify-content: center;
    }
  }