#registerButton {
  padding: 0;
  margin: 0;
  margin-top: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

#registerButton {
  color: var(--color);
  --hovered-color: var(--elaGreen);
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

#registerButton p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

#registerButton::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

#registerButton p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Registrate";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

#registerButton:hover::after {
  width: 100%;
}

#registerButton:hover p::before {
  width: 100%;
}

#registerButton:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

#registerButton svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}
