.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid var(--color);
    border-radius: 10px;
    background-color: var(--background-color);
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customFileUpload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--elaGreen);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.customFileUpload:hover {
    background-color: #45a049;
}

.fileInput {
    display: none;
}


.submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.submitButton:hover {
    background-color: #007BB5;
}

.label {
    margin-bottom: 10px;
    font-size: 18px;
}