.password_input_div {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
    overflow: hidden;
    width: 80%;
}

.password_input_div img {
    cursor: pointer;
    font-size: 20px;
    color: var(--elaGreen);
}