.laela_sections {
    border-bottom: .5px solid rgb(198, 198, 198);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: auto;
    padding-bottom: 50px;
    text-align: center;
    width: 85%;
}

.laela_sections h2{
    margin-top:50px;
    margin-bottom: 25px;
}

.laela_sections > p {
    width: 100%;
    font-size: 16pt;
    text-align: justify;
    margin-bottom: 30px;
}

#video_container {
    margin: 25px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    gap: 50px;
}

#video_container iframe{
    width: 80%;
    height: 400px;
    border-radius: 5px;
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}

#video_container p{
    width: 20%;
    font-size: 16pt;
}

@media (max-width: 480px) {
    #video_container {
        flex-direction: column;
	}
    #video_container iframe{
        width:80%;
    }
}

@media (480px <= width <= 850px){
    #video_container {
        flex-direction: column;
	}
    #video_container iframe{
        width:80%;
    }
}

/*
    ----------------------------------------------------------------
        La Ela List
    ----------------------------------------------------------------
*/
.ela_list{
    text-align: justify;
    list-style: circle;
    width: 100%;
}

.ela_list > li{
    margin-left: 70px;
}

/*
    ----------------------------------------------------------------
        La Ela Therapy
    ----------------------------------------------------------------
*/

#card_container{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    margin: 50px 0;
}

.cards{
    width: 350px;
    height: 400px;

    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    border: 1px solid black;
    background-color: var(--background-color);
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    transition: transform 0.7s;
}

.cards:hover {
    transform: translateY(-10px);
}

.cards img{
    width: 32%;
    height: auto;

    padding-bottom: 30px;
}

.cards p {
    width: 80%;
    font-size: 18px;
}

/*
    ----------------------------------------------------------------
        La Ela Treatment
    ----------------------------------------------------------------
*/

#medication_container{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.medication{
    width: 350px;
    height: 600px;

    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}

.medication h3{
    font-size: 25px;
    margin-top: 50px;
}

.medication div img{
    width: 250px;
    filter: var(--dropshadow);
}

.arrow {
    cursor: pointer;
    transition: transform 0.3s;
}

.rotate {
    transform: rotate(180deg);
}

.accordionContent {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.7s ease;
    width: 100%;
    font-size: 18px;
}

.accordionContent.open {
    height: 200px;
    opacity: 1;
}