.videoContainer {
    position: relative;
}

.videoContainer video {
    height: 600px;
    border-radius: 10px;
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.85);
    object-fit: cover; 
    width: 400px;
    margin-bottom: 40px;
}

#bin{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 10px;
    z-index: 10;
    padding: 5px;
    transition: .5s;
    border-radius: 50px;
}

#bin:hover{
    background-color: white;
}