.news_card {
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;
    
    position: relative; 

    height: 300px;
    overflow: hidden;
    transition: all 0.7s;
    width: 100%;
    
    border-radius: 1.8rem;
    overflow: hidden;
}

.news_card::after {
    content: ''; /* Obligatorio para pseudo-elementos */
    position: absolute; /* Posición absoluta para superponerlo */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* Gradiente de negro transparente a negro sólido */
}

.news_info {
    color: white;
    margin-left: 20px; 
    margin-bottom: 20px; 
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: justify;
    z-index: 20;
    width: 100%;
    pointer-events: none;
}

.news_info span {
    font-size: 12px;
}

.news_info h3 {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

@media (max-width: 1024px) {
    .news_card {height: 250px;}
}

#bin{
    z-index: 10000;
    position: absolute;
}

.news_card:hover{
    transform: scale(1.02);
}