#videos_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    height: 720px;
    margin: 50px auto;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 500px;
}

#delreves_title {
    margin-top: 50px;
    text-align: center;
    color: var(--color);
}

@media (max-width: 530px) {
    #videos_container  {
        height: 530px;
        width: 350px;
    }
}