#back_home {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 93%;
    right: 96%;
    width: 40px;
    height: 40px;
}

#back_home img {
    border-radius: 5px;
    transition: all 0.7s;
    width: 40px;
    height: 40px;
}

#back_home img:hover {
    background-color: black;
}

.sign_body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(var(--elaGreen) 50%, white 50%);

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;
}

.sign_container {
    border-radius: 5px;
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 600px;
    margin: auto;

    position: absolute;
    inset: 0;

    overflow: hidden;
    width: 800px;
}

.sign_form {
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 600px;
    margin: auto;

    width: 50%;
}

.sign_form h2 {
    color: var(--elaGreen);
    font-size: 50px;
    margin-bottom: 50px;
}

.sign_form label {
    font-size: 20px;
    color: black;
}

.sign_form input {
    border: 0;
    padding: 5px;
    outline: none;
    width: 80%;
}

.sign_form #loginEmail, .sign_form #registerUsername, .sign_form #registerEmail {
    border: 1px solid;
    border-radius: 20px;

    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 25px;
}

.sign_form > a {
    color: black;
    text-decoration: underline;
    margin-bottom: 25px;
}

.sign_form button[type="submit"]{
    border: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: black;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    transition: all 0.7s;
    width: 80%;
}

.sign_form button[type="submit"]:hover {
    color: white;
    background-color: var(--elaGreen);
}

.sign_logo {
    background-color: var(--elaGreen);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter:blur(20px) brightness(110%);

    height: 600px;
    width: 50%;
}

.sign_logo img {
    width: 90%;
    filter: drop-shadow(5px 5px 5px #000000);

    transition: all 0.7s;
}

.sign_logo img:hover {
    transform: scale(1.1);
}

#change_sign {
    width: 100%;
    text-align: center;
    color: white;
    filter: drop-shadow(2px 2px 2px #414040);
    font-size: 20px;
    font-weight: bold;
}

#change_sign a {
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

#change_sign a:hover {
    text-decoration: none;
}

.error{
    color: red;
    height: 20px;
    font-size: 14px;
}

@media (max-width: 800px) {
    #back_home {
        bottom: 93%;
        right: 85%;
    }

    .sign_form h2 {
        font-size: 25px;
    }

    .sign_container  {
        width: 80%;
        flex-direction: column;
        height: 630px;
    }

    .sign_logo img{
        display: none;
    }

    .sign_logo{
        height: auto;
        margin: 25px 0;
        width: 100%;
    }
    
    .sign_form{
        height: auto;
        width: 100%;
        padding: 25px 0;
        margin: 0;
    }

    .sign_form label {
        font-size: 15px;
    }
}